html,body,application {
	height:100%;
	width:100%;
	display:block;
	margin:0;
	padding:0;
	background-color:#f8f8f8;
}
.page {
	transition:all 0.55s ease;
	height:calc(100% - 75px);
	width:calc(100% - 315px);
	float:right;
}
.navbar {
	height:75px;
	background-color:#333746;
	border-radius:0;
	margin-bottom:0;
}
#mainNav {
	height:75px !important;
}

.navbar-nav>li>a{
	color:#fafafa;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus{
	background-color:initial;
}
.navbar-center {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	padding:0;
}
.navbar-center img {
	width:100px;
}
.navbar-right, .navbar-center, .navbar-left {
	margin:0;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.navbar-left {
	font-size:14pt;
}

.nav-svg {
	width:3.0em;
}

.eventList {
	cursor:pointer;
	background-color:#738384;
	height:100px;
	margin:10px;
}
.expand {
	display:inline-block;
	width:15px;
	height:100%;
	background-color:#1C1E27;
	cursor:pointer;
	transition:all 0.3s ease;
}

.expand:focus {
	background-color:blue;
}

#sidebar {
	font-family:"Segoe UI";
	display:inline-block;
	position:relative;
	float:left;
	width:300px;
	height:100%;
	background-color:#404456;
	color:white;
	text-align:center;
	overflow-y:scroll;
	overflow-x:hidden;
	transition:all 0.3s;
}
#sidebar h2 {
	margin:0;
	font-weight:100;
}

#sidebar ul {
	padding:0;
	list-style:none;
	position:relative;
	display:inline-block;
}
#sidebar ul h3 {
	font-weight:100;
	font-size:18pt;
}

#sidebar-container {
	transition:all 0.55s ease;	
	width:315px;
	height: calc(100% - 75px);
	float: left;
}
#sidebar-wrapper {
	transition:all 0.55s ease;
	left:0;
	position:fixed;
	width:auto;
	height:calc(100% - 75px);
	float:left;
}
#sidebar-icon {
	opacity:0;
	width:20px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	height:20px;
	transition:0.4s ease;
	padding-left:5px;
}
main-page {
	display:inline-block;
	width:calc(100% - 315px);
	height:calc(100% - 75px);
	transition:all 0.55s ease;display:inline-block;
}

navbar {
	font-size:12pt;
	display:block;
	height:75px;
}

.cta-button {
	background-color:#CC433F;
	border-radius:2px;
	color:white;
	margin-right:10px;
	transition: background-color 0.4s ease;
	border: 2px solid #cc433f;
	border-color:#CC433F;
}
.cta-button:hover {
	
	background-color:rgba(0,0,0,0);
	border: 2px solid #cc433f;
}

.cta-button a {
	color:#f2f2f2 !important;
	text-shadow:none;
}

