.flex {
	display:flex;
	justify-content:center;
}
.header {
	color:#F5F5F5;
	font-size:28pt;
	height:13vw;
	text-align:center;
	align-items:flex-end;
	justify-content:center;
}
.header-image > span {
	background-color:white;
	font-size:24pt;
}
.event-wrapper {
	display: flex;
	justify-content:center;
	flex-wrap:wrap;
	padding-top:5vh;
	padding-left:0;
	list-style:none;
}
.event-block {
	border-radius:15px;
	color:white;
	cursor:pointer;
	text-align:center;
	margin:10px;
	padding:12px;
	width:225px;
	height:175px;
	background-color:gray;
}
.event-block-image {
	width:33%;
}

.row {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
}

.col {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.fullWidth {
	width:100%;
}
.oneThird {
	display:flex;
	flex-direction:row;
	width:33%;
}
.twoThird {
	width:66%;
}

.event-block-thumbnail {
	font-size:50pt;
}
.event-block-title {
	font-size:16pt;
	font-weight:400;
	padding:3px;
}
.event-block-icon {
	font-size:15pt;
	padding-left:25px;
	text-align:center;
}