<nav class="navbar navbar-fixed-top">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-center" [routerLink]="['Home']"><img src="img/logo.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLink]="['User']"><a href="#"><img src="img/svg/circle.svg" class="nav-svg" alt=""><span style="margin-left:7px"> Hello, User</span></a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
        <!-- <li [routerLink]="['Calendar']"><a href="#"><img src="img/svg/time.svg" alt="" class="nav-svg"></a></li> -->
        <li class="cta-button" [routerLink]="['CreateEvent']"><a href="#">Create Event</a></li> <!-- This needs to be a dropdown -->
       </ul>
    </div>
</nav>